html, body, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote 
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
   
body
{
  background-color: rgb(27, 26, 26) ;
  height: 300vh;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}
p
{
  margin: 5% 10% 10% 10%;
  text-align: left;
}
a
{
  color: rgb(245, 234, 200) ;
  text-decoration: none;
}

/* Head Section *************************************************************************************************** */

#head
{
  background-color:rgb(0, 102, 255) ;
  color: rgb(203, 220, 241);
  height: 100vh;
}
#Head strong
{
  color: rgb(245, 234, 200) ; 
}
#presentationMessage
{
  position: absolute;
  left: 30%;
  top: 12%;
    
}

/* AboutMe ********************************************************************************************************* */

#Me
{   
  margin-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  
}
/* Left  - WhoIam ***************************************************** */
#whoIam
{
  background-color: rgb(27, 26, 26);
  color: rgb(203, 220, 241);
}
#whoIam_header 
{
  display: flex;
  align-items: center;
  height: 25%;
  margin-left: 10%;
  margin-top: 5%;
}
#whoIam_header img
{
  height: 90px;
  width: 90px;
  border-radius: 11px 11px 11px 11px;
  border: 2px solid #363131;
}
#whoIam_header h2
{
  text-align: left;
  margin-left: 3%;
}
#arrow 
{
  margin-bottom: 20px;
  margin-left: 40%;
  color: rgb(245, 234, 200) ; 
  text-align: center;
  font-size: 3em;
}
#arrow :hover
{
  transform: rotate(90deg);
}

/* Right  - Certifications  ******************************************* */
#certifications
{
  background-color:rgb(0, 102, 255) ;
}

