html, body, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote 
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
   
body
{
  --main-color: rgb(0, 102, 255);
  --second-color: rgb(27, 26, 26); 
  --text-color: rgb(203, 220, 241); 
  --main-border-color: rgb(0, 0, 0);
  --second-border-color: rgb(2, 16, 78);
  --link-color: rgb(245, 234, 200);
  --link-color-stronger: rgb(236, 222, 59); 
  /* For projects, medias and certification divs: */
  --div-background:  rgb(179, 207, 250);
  --div-text-color: rgb(4, 13, 53);
  

  --main-border-radius: 5px;
  --second-border-radius: 3px;

  background-color: var(--second-color); 
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}
a
{
  color: var(--link-color) ;
  text-decoration: none;
}


/* Head Section *************************************************************************************************** */

#head
{
  background-color:var(--main-color) ;
  color: var(--text-color);
  height: 100vh;
}
#head strong
{
  color: var(--link-color-stronger) ; 
}
#presentationMessage
{
  position: absolute;
  left: 30%;
  top: 40vh;
}
#head nav
{
 position: absolute;
 padding: 0.7em;
 top: 0%;
 right: 0%;
}
#head ul
{
  list-style: none;
}
#head li
{
  display: inline;
  margin: 0em 1em;
}
#head a
{
  color: var(--link-color-stronger);
}

/* Container **************************************** */ 
#container
{
  margin: 10vh 0;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-auto-flow: column;
  grid-row-gap: 7em;
}
#container > * {
  grid-column: 2 / -2;
}


/* AboutMe ********************************************************************************************************* */
#Me
{   
  display: grid;  
  grid-template-columns: 50% 50%;
  height: 35em;
}
/* Left  - WhoIam ***************************************************** */
#whoIam
{
  color: var(--text-color);
}
#whoIam_header 
{
  display: flex;
  align-items: center;
  height: 10em;
  margin-left: 10%;
}
#whoIam_header img
{
  height: 7em;
  width: 7em;
  border-radius: var(--main-border-radius);
  border: 2px solid var(--main-border-color);
}
#whoIam_header h2
{
  text-align: left;
  margin-left: 5%;
}
#whoIam p
{
  margin: 5% 10% 5% 10%;
  text-align: left;
}
#arrow 
{
  margin-bottom: 20vh;
  margin-left: 40%;
  color: var(--link-color) ; 
  text-align: center;
  font-size: 3em;
}
#arrow :hover
{
  transform: rotate(90deg);
}

/* Right  - Certifications  ******************************************* */
#certifications
{
  background-color: var(--main-color) ;
}


/*  Skills   **********************************************************  */
#skillsSection
{
  color: var(--main-color);
}
#skills
{
  display: grid;
  grid-template-columns: repeat(4,minmax(10vw, 30vw));
  grid-auto-flow: row;
  grid-gap: 2em;
}
  
.skill
{
  color:  var(--text-color);  
  display: flex;
  align-items: center;
  max-width: 30vw;
  box-shadow: -7px 7px 9px -1px rgba(14, 13, 13, 0.75);
  padding: 0.5em;
  border-radius: var(--main-border-radius);
}
.skill img
{
  height: 5vh;
  width: 2.5vw;
  border-radius: var(--main-border-radius); 
}
.skill i
{
  text-align: left;
  margin-left: 3%;
}

/* Projects     ***************************************************************** */
#projectsSection
{
  background-color: var(--main-color) ;
  height: 90vh;
}
#projectsSection h1
{
  color: var(--text-color);
  margin-left: 2vw;
}
#h2-moreProjects
{
 text-align: center;
 margin-top: 8vh;
 color: var(--link-color-stronger);
 font-weight: lighter;
}
#projects
{
 margin-top: 6vh;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}
.project
{
  background-color: var(--second-color);
  width: 15vw; 
  color: var(--main-color);
  box-shadow: -7px 7px 9px -5px rgba(14, 13, 13, 0.75);
  border: 2px solid var(--second-border-color);
  border-radius: var(--main-border-radius);
}
.project :hover
{

}
.project h2
{
  font-weight: lighter;
  margin: 7px 5px 7px 15px;
}
.project div
{
  margin: 10px;
  background:  var(--div-background);
  border: 1px solid var(--second-border-color);
  border-radius: var(--second-border-radius);
  color: var(--div-text-color);
}
.project img
{
  height:20vh;
  width: 96%; 
  margin: 2% 2% 0 2%;
  border: 1px solid var(--div-text-color);
  border-radius: var(--second-border-radius);
}
.project ul
{
  list-style-type: square;
  margin: 5px 7px 15px 25px;
  padding: 0;
}
.project li
{
  text-align: left;
  font-size: 15px;
}
.project a
{
  color: var(--main-color);
}



/* Information    ****************************************************************************** */
#information
{
  margin-top: 20vh;
  margin-bottom: 0vh;
  height:auto ;
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-auto-flow: column;
  grid-row-gap: 1vh;
  background-color: var(--main-color);
}
#information > * {
  grid-column: 2 / -2;
}
#contact
{
  color: var(--text-color);
  font-size: 1.2em;
  margin-top: 1em;
}
#information h2
{
  color: var(--text-color);
}
#information inline
{
  color: var(--link-color-stronger);
}

/* Social medias *********************************** */
#social_media_box
{
  border-radius: var(--main-border-radius);
  background: var(--div-background);
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15vw, 1fr));
  grid-gap: 1em;
  padding: 1em 1em 1em 2.8em;
  align-items: center;
  justify-content: space-around; 
}
#social_media_box p
{
  margin: 5% 10% 10% 10%;
  font-size: 1.1em;
}
.social_media
{
  height: 15vh; 
  width: 10vw;
  background: var(--div-background);
  color: var(--div-text-color); 
  text-align: center;
  padding-top: 2vh;
}
.social_media:hover
{
  transform:scale(1.18);
}
.social_media_icon
{
  height: 8vh;
  min-width: 6vw;
  border-radius: 5px;
 
}
#FreeCodeCamp_icon
{
  background: green;
}
#Github_icon
{
  background: rgb(230, 174, 137);
}
#Stackoverflow_icon
{
  background: rgb(212, 222, 238);;
}

/* More Links      ************************************ */
#moreLinks
{
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-content: start;
  grid-gap: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#moreLinks ul
{
 list-style: none;
}
#moreLinks p
{
  font-size: 1.2em;
  font-weight: bold;
  color: var(--div-text-color);
}
#moreLinks a
{
 color: var(--text-color);
 margin-left: 0.4em;
 margin-top: 0.2em;
}
