html, body, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote 
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
   
body
{
  background-color: rgb(27, 26, 26) ; 
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}
a
{
  color: rgb(245, 234, 200) ;
  text-decoration: none;
}

/* Head Section *************************************************************************************************** */

#head
{
  background-color:rgb(0, 102, 255) ;
  color: rgb(203, 220, 241);
  height: 100vh;
}
#Head strong
{
  color: rgb(245, 234, 200) ; 
}
#presentationMessage
{
  position: absolute;
  left: 30%;
  top: 40vh;
    
}

/* Container **************************************** */ 
#container
{
  margin: 10vh 0;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-auto-flow: column;
  grid-row-gap: 7em;
}
#container > * {
  grid-column: 2 / -2;
}


/* AboutMe ********************************************************************************************************* */
#Me
{   
  display: grid;  
  grid-template-columns: 50% 50%;
  height: 35em;
}
/* Left  - WhoIam ***************************************************** */
#whoIam
{
  color: rgb(203, 220, 241);
}
#whoIam_header 
{
  display: flex;
  align-items: center;
  height: 10em;
  margin-left: 10%;
}
#whoIam_header img
{
  height: 7em;
  width: 7em;
  border-radius: 11px 11px 11px 11px;
  border: 2px solid #363131;
}
#whoIam_header h2
{
  text-align: left;
  margin-left: 5%;
}
#whoIam p
{
  margin: 5% 10% 5% 10%;
  text-align: left;
}
#arrow 
{
  margin-bottom: 20vh;
  margin-left: 40%;
  color: rgb(245, 234, 200) ; 
  text-align: center;
  font-size: 3em;
}
#arrow :hover
{
  transform: rotate(90deg);
}

/* Right  - Certifications  ******************************************* */
#certifications
{
  background-color:rgb(0, 102, 255) ;
}


/*  Skills   **********************************************************  */
#skillsSection
{
  color:rgb(0, 102, 255);
}
#skills
{
  display: grid;
  grid-template-columns: repeat(4,minmax(10vw, 30vw));
  grid-auto-flow: row;
  grid-gap: 2em;
}
  
.skill
{
  color:  rgb(203, 220, 241);  
  display: flex;
  align-items: center;
  max-width: 30vw;
  box-shadow: -7px 7px 9px -1px rgba(14, 13, 13, 0.75);
  padding: 0.5em;
  border-radius: 5px;
}
.skill img
{
  height: 5vh;
  width: 2.5vw;
  border-radius: 5px; 
}
.skill i
{
  text-align: left;
  margin-left: 3%;
}

/* Projects     ***************************************************************** */
#projectsSection
{
  background-color:rgb(0, 102, 255) ;
  height: 90vh;
}
#projectsSection h1
{
  color: rgb(203, 220, 241);
  margin-left: 2vw;
}
#h2-moreProjects
{
 text-align: center;
 margin-top: 8vh;
 color:rgb(236, 222, 59) ;
 font-weight: lighter;
}
#projects
{
 margin-top: 6vh;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}
.project
{
  background-color: rgb(27, 26, 26) ;
  width: 15vw; 
  color: rgb(0, 102, 255);
  box-shadow: -7px 7px 9px -5px rgba(14, 13, 13, 0.75);
  border: 2px solid rgb(2, 16, 78);
  border-radius: 5px;
}
.project :hover
{

}
.project h2
{
  font-weight: lighter;
  margin: 7px 5px 7px 15px;
}
.project div
{
  margin: 10px;
  background:  rgb(174, 204, 240);
  border: 1px solid rgb(2, 16, 78);
  border-radius: 3px;
  color: rgb(4, 13, 53);
}
.project img
{
  height:20vh;
  width: 96%; 
  margin: 2% 2% 0 2%;
  border: 1px solid rgb(83, 141, 97);
  border-radius: 3px;
}
.project ul
{
  list-style-type: square;
  margin: 5px 7px 15px 25px;
  padding: 0;
}
.project li
{
  text-align: left;
  font-size: 15px;
}
.project a
{
  color:  rgb(0, 102, 255);
}



/* Information    ****************************************************************************** */
#information
{
  margin-top: 20vh;
  margin-bottom: 0vh;
  height:auto ;
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-auto-flow: column;
  grid-row-gap: 1vh;
  background-color: rgb(0, 102, 255);
}
#information > * {
  grid-column: 2 / -2;
}
#information h2
{
  color: rgb(203, 220, 241);
  font-weight: lighter;
}
#information inline
{
  color: rgb(236, 222, 59);
}

/* Social medias *********************************** */
#social_media_box
{
  border-radius: 5px;
  background: rgb(174, 204, 240);
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#social_media_box p
{
  margin: 5% 10% 10% 10%;
  text-align: center;
  font-size: 1.25em;
}
.social_media
{
  height: 100px;
  width: 140px;
  background:   rgb(174, 204, 240);
  color: #363131;
}
.social_media:hover
{
  transform:scale(1.18);
}
.social_media_icon
{
  height: 70px;
  width: 80px;
  border-radius: 5px;
  margin-left: 30px; 
}
#FreeCodeCamp_icon
{
  background: green;
}
#Github_icon
{
  background: rgb(230, 174, 137);
}

/* More Links      ************************************ */
#moreLinks{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10vh;
}
